<html>
<head><title>Mini Project 02</title></head>
<body>

<h2>Leap Year Calculator</h2>

<form action="/ly/" method="POST">
  Year: <input type="text" name="year"><br/>
  <br/>
  <input type="submit">
</form>

</body>
</html>